node_modules/
.npm
.eslintcache
.node_repl_history
*.tgz
.env
.env.test
.cache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
build.sh

*.zip
